* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: "Inter", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-row: 1/3;
    background-color: #2990d4;
    color: #ffffff;
    padding: 2rem;
}

header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;
}

.dashboard {
    display: grid;
    padding: 2rem;
    background-color: #dadcdf;
    gap: 2rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-row: 1/3;
}

.sidebar {
    display: grid;
    gap: 3rem;
    align-content: start;
}

.sidebar-group {
    display: grid;
    gap: 1rem;
}

.sidebar-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

.projects-grid {
    display: grid;
    margin: 1rem;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
    background-color: #ffffff;
    padding: 2rem 1rem;
}

.announce-grid {
    display: grid;
    padding: 2rem 1rem;
}

.button {
    background-color: #2990d4;
    color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5rem;
}

.announce-grid, .trending-users {
    background-color: #ffffff;
}