* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-row: 1/3;
}

.top-bar {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;
}

.dashboard {
    display: grid;
    gap: 2rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-row: 1/3;
}

.sidebar {
    display: grid;
    gap: 2rem;
    align-content: start;
}

.projects-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}